@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600');

* { box-sizing: border-box; }

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #030303;
	font-weight: 300;
}

/*--- Extra Bootstrap Column Padding ---*/
[class+="col-"] {
	padding: 1rem;
}
.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

/*--- Global Classes ---*/
.first-section {
	margin-top: 17.5rem;
}
figure {
	margin-bottom: 0;
}
figure figcaption {
	display: none;
}

/*--- Debugger on right lower corner ---*/
#debugger {
	position: fixed;
	right: 0; bottom: 0;
	font-size: 0.8rem;
	color: white;
	background-color: black;
	padding: 0.4rem;
}

/*============ TITLES ============*/

h1, h2, h3, h4, h5, h6,
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active,
h2 a:link, h2 a:visited, h2 a:hover, h2 a:active,
h3 a:link, h3 a:visited, h3 a:hover, h3 a:active,
h4 a:link, h4 a:visited, h4 a:hover, h4 a:active,
h5 a:link, h5 a:visited, h5 a:hover, h5 a:active,
h6 a:link, h6 a:visited, h6 a:hover, h6 a:active {
	margin: 0; 
	color: #bb1730;
	text-decoration: none;
	font-weight: 300;
}
h2 {
	font-size: 2.125rem;
}

/*============ MASTHEAD ============*/

#masthead {
	position: absolute;
	top: 0; left: 50%;
	width: 14rem;
	margin-left: -7rem;
	text-align: center;
	padding: 1rem 0;
	z-index: 10;
}
#masthead.fixed {
	position: fixed;
	top: -130px;
}
#masthead.hidden {
	display: none;
}
#masthead.hidden {
	display: none;
}
#masthead h1 {
	line-height: 1.2rem;
	font-size: 1rem;
}
#masthead img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#masthead h1 a:link,
#masthead h1 a:visited {
	text-decoration: none;
}
.brand-text {
	height: 3.8rem;
	margin: 0.4rem 0;
}
.brand-image {
	height: 5rem;
	margin-top: 0.8rem;
}

/*============ NAVIGATION ============*/

.navbar {
	z-index: 1;
	background-color: #fff;
}
.navbar.shadowed {
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}
.fa, .fas {
	color: #bb1730;
	font-size: 2rem;
}
.navbar-toggler {
	border: none;
	padding: 1.7rem 1rem;
}
.navbar-toggler-icon {
	background-image: none !important;
}
.navbar-nav {
	position: relative;
	top: 0; left: 0;
	width: 100%;
}
.nav-item { font-size: 1.1rem; }
.nav-link { position: relative; }
.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:visited {
	text-align: center;
	color: #bb1730;
	font-weight: 400;
}
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:hover {
	color: #bb1730;
}
.navbar-collapse.collapse .brand-image,
.navbar-collapse.collapsing .brand-image {
	position: fixed;
	top: 0; left: 50%;
	opacity: 0;
	visibility: hidden;
	margin-left: -3.375rem;
	-webkit-transition: opacity 300ms, visibility 300ms;
	transition: opacity 300ms, visibility 300ms;
}
.navbar-collapse.show .brand-image {
	visibility: visible;
	opacity: 1;
}

/*============ QUOTATION ============*/

.quotation {
	text-align: center;
}
.quotation.red {
	background-color: #bb1730;
}
.quotation.gold {
	background-color: #e6d5bd;
}
.quotation h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 300;
}
.quotation.red h3 {
	color: #fff;
}
.quotation.gold h3 {
	color: #030303;
}
.quotation p {
	color: #fff;
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0.2rem;
}
.quotation small {
	position: relative;
	font-size: 0.75rem;
	font-weight: 300;
	color: #fff;
}
.quotation .q1 { animation-delay: 0.3s; }
.quotation .q2 { animation-delay: 0.6s; }
.quotation .q3 { animation-delay: 0.9s; }
.quotation .q4 { animation-delay: 1.2s; }
.quotation .q5 { animation-delay: 1.5s; }
#mindfulness.quotation { padding: 1.5rem 0; }

/*============ CONTENT SECTION ============*/

.img-fluid { }
.content-box {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.content-box.right-bordered {
	border-right: 1px solid #ccc;
}
.content-box h2 {
	margin-bottom: 2rem;
}
.content-box p {
	font-size: 1.125rem;
}
#main .img-fluid { animation-delay: 2s; }

/*============ MASONRY SECTION ============*/

/* ---- grid ---- */

.grid {
	max-width: 100%;
}

/* clearfix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
	width: 100%;
	min-width: 100%;
}
.grid-item {
	float: left;
	padding: 2rem;
}
.grid-item .quotation {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.grid-item .quotation.quote3 {
	margin-top: 4rem;
}
.grid-item--width-2 {
	width: 100%
}
.grid-item--width-3 {
	width: 100%;
}

/*============ BREAK POINTS ============*/

@media (min-width: 992px) {
	.navbar-nav { width: 75%; padding: 1.4rem 0; }
	.nav-item { width: 33.33333333%; }
	.nav-link .fingerprint {
		display: block;
		position: absolute;
		top: -1.2rem; left: 50%;
		margin-left: -0.3125rem;
		background-color: #bb1730;
		width: 0.625rem; height: 0.625rem;
		border-radius: 100%;
		opacity: 0;
		-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.nav-link:hover .fingerprint,
	.nav-link.active .fingerprint {
		top: -0.2rem;
		opacity: 1;
	}
	/* --- masonry settings --- */
	.grid-sizer,
	.grid-item {
  		width: 33.333%;
  		min-width: 180px;
	}
	.grid-item--width-2 {
		width: 66.666%
	}
	.grid-item--width-3 {
		width: 100%;
		min-width: 992px;
	}
	.grid-item .quotation.quote1 {
		padding-top: 117.5%;
		padding-bottom: 117.5%;
	}
	.grid-item .quotation.quote2 {
		padding-top: 35%;
		padding-bottom: 35%;
	}
	.grid-item .quotation.quote3 {
		padding-top: 57%;
		padding-bottom: 57%;
	}
	.grid-item .quotation.quote4 {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}
@media (min-width: 768px) {
	.quotation p {
		font-size: 1.75rem;
	}
	.content-box.left-side {
		padding-left: 20%;
	}
	.content-box.right-side {
		padding-right: 20%;
	}
}

/*============ BOOTSTRAP BREAK POINTS: 

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/